@font-face {
  font-family:Blockletter;
  src:url('Blockletter.otf');
}

/* Colors */

$lightWhite: #D6D6D6;
$darkWhite: #81818A;
$darkBlack: #252529;
$lightBlack: #6F6F6F;



/* Style switches */
.highlight {
		background:$darkBlack;
				color:$darkWhite;
}

body{

	background:$darkBlack;
	padding:0;
	#large-display{
	perspective:1px;
	overflow-x:hidden;
	overflow-y:auto;
	transform-style:preserve-3d;
	height:100vh;
	padding:0;
		#parallax-base {
			height:100%;
			padding:0;
			#home {
				height:100%;
				padding:0;
				#bg-container {
					height:70%;
					padding:0;
					#houston-base{
						height:100%;
						position:absolute;
						top:0;
						z-index:2;
					}
					#houston-valk {
						height:100%;
						position:fixed;
						top:0;
						transform:translateY(908px) translateX(-852px)translateZ(-1px) scale(2);
					}
				}
				#main-logo{
					font-size:15em;
					font-family:Blockletter;
					color:$darkWhite;
					float:right;
					
					height:30%;
					background:$darkBlack;
				}
			}
			#about {
				height:100vh;
				position:relative;
				margin-top:10%;
				padding:0;
				#about-box {
					float:right;
					border:1px solid white;
					background:$lightBlack;
					height:50%;
				}
				
			}
		}

	}
}
