@font-face {
  font-family: Blockletter;
  src: url("Blockletter.otf"); }

/* Colors */
/* Style switches */
.highlight {
  background: #252529;
  color: #81818A; }

body {
  background: #252529;
  padding: 0; }
  body #large-display {
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    transform-style: preserve-3d;
    height: 100vh;
    padding: 0;
    /* Para2 starts here */ }
    body #large-display #parallax-base {
      height: 100%;
      padding: 0;
      z-index: 5; }
      body #large-display #parallax-base #home {
        height: 100%;
        padding: 0;
        z-index: 4; }
        body #large-display #parallax-base #home #bg-container {
          height: 70%;
          padding: 0; }
          body #large-display #parallax-base #home #bg-container #houston-base {
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 2; }
          body #large-display #parallax-base #home #bg-container #houston-valk {
            height: 100%;
            position: fixed;
            top: 0;
            transform: translateY(908px) translateX(-852px) translateZ(-1px) scale(2); }
        body #large-display #parallax-base #home #main-logo {
          font-size: 15em;
          font-family: Blockletter;
          color: #81818A;
          float: right;
          height: 30%;
          background: #252529; }
      body #large-display #parallax-base #about {
        height: 100vh;
        position: relative;
        z-index: 4;
        padding: 0;
        color: #81818A; }
        body #large-display #parallax-base #about #about-box {
          float: right;
          background: #252529;
          height: 100%;
          padding: 0; }
          body #large-display #parallax-base #about #about-box #about-text-container {
            height: 60%;
            padding: 0;
            margin-bottom: 4%; }
            body #large-display #parallax-base #about #about-box #about-text-container #about-text {
              border-left: 7px solid #81818A;
              border-bottom: 3px solid #81818A;
              margin-bottom: 2%;
              color: #81818A;
              font-family: Blockletter;
              background: #252529;
              font-size: 1.5em;
              padding: 0;
              height: 47%; }
              body #large-display #parallax-base #about #about-box #about-text-container #about-text .contact-links {
                height: 71%;
                padding: 1%;
                font-size: 0.7em;
                color: #81818A;
                position: relative;
                top: 17%; }
                body #large-display #parallax-base #about #about-box #about-text-container #about-text .contact-links:hover {
                  background: #81818A;
                  color: #252529; }
                body #large-display #parallax-base #about #about-box #about-text-container #about-text .contact-links .contact-image {
                  height: 88%; }
                body #large-display #parallax-base #about #about-box #about-text-container #about-text .contact-links .contact-text {
                  word-wrap: break-word;
                  border-bottom: 3px solid #81818A; }
              body #large-display #parallax-base #about #about-box #about-text-container #about-text #about-picture {
                height: 100%;
                float: right; }
            body #large-display #parallax-base #about #about-box #about-text-container #skill-container {
              border-left: 7px solid #81818A;
              float: right;
              height: 53%;
              font-family: Blockletter;
              background: #252529; }
              body #large-display #parallax-base #about #about-box #about-text-container #skill-container #skill-title {
                font-size: 1.5em; }
              body #large-display #parallax-base #about #about-box #about-text-container #skill-container .skill {
                height: 27%; }
                body #large-display #parallax-base #about #about-box #about-text-container #skill-container .skill .skillnames {
                  border-bottom: 1px solid #81818A;
                  font-size: 1.2em; }
                body #large-display #parallax-base #about #about-box #about-text-container #skill-container .skill .skilllvl {
                  height: 50%;
                  padding: 0; }
                  body #large-display #parallax-base #about #about-box #about-text-container #skill-container .skill .skilllvl .lvlblk {
                    height: 100%;
                    padding: 4%;
                    width: 1%;
                    margin-left: 1%; }
                    body #large-display #parallax-base #about #about-box #about-text-container #skill-container .skill .skilllvl .lvlblk .col-md-1 {
                      width: 5%; }
                    body #large-display #parallax-base #about #about-box #about-text-container #skill-container .skill .skilllvl .lvlblk .col-lg-1 {
                      width: 5%; }
                    body #large-display #parallax-base #about #about-box #about-text-container #skill-container .skill .skilllvl .lvlblk .lvlblack {
                      background: #6F6F6F;
                      height: 80%; }
          body #large-display #parallax-base #about #about-box #exp-container {
            border-left: 7px solid #81818A;
            border-top: 3px solid #81818A;
            height: 39%; }
            body #large-display #parallax-base #about #about-box #exp-container .exp-div {
              height: 100%;
              font-family: Blockletter; }
              body #large-display #parallax-base #about #about-box #exp-container .exp-div .exp-name {
                border-bottom: 4px solid #81818A;
                font-size: 2em; }
              body #large-display #parallax-base #about #about-box #exp-container .exp-div .exp-date {
                font-size: 1.3em; }
              body #large-display #parallax-base #about #about-box #exp-container .exp-div .exp-position {
                font-size: 1.5em; }
              body #large-display #parallax-base #about #about-box #exp-container .exp-div .exp-resp {
                font-size: 1.2em; }
    body #large-display #parallax-layer {
      height: 200vh;
      position: fixed;
      top: 203%;
      padding: 0;
      z-index: 9;
      persepective: 1px; }
      body #large-display #parallax-layer #projects {
        height: 100%;
        padding: 0; }
        body #large-display #parallax-layer #projects #image-container {
          height: 30%;
          padding: 0; }
        body #large-display #parallax-layer #projects #project-container {
          height: 18%;
          padding: 0;
          color: #81818A; }
          body #large-display #parallax-layer #projects #project-container #project-detailss {
            border-left: 4px solid #81818A;
            float: right;
            z-index: 10;
            background: #252529;
            top: -118%;
            font-family: Blockletter; }
            body #large-display #parallax-layer #projects #project-container #project-detailss #project-name {
              font-size: 1.8em; }
              body #large-display #parallax-layer #projects #project-container #project-detailss #project-name .projects-name {
                border-bottom: 3px solid #81818A; }
              body #large-display #parallax-layer #projects #project-container #project-detailss #project-name .projects-framework {
                background: #81818A;
                color: #252529; }
              body #large-display #parallax-layer #projects #project-container #project-detailss #project-name .projects-link {
                color: #81818A; }
                body #large-display #parallax-layer #projects #project-container #project-detailss #project-name .projects-link:hover {
                  background: #81818A;
                  color: #252529; }
            body #large-display #parallax-layer #projects #project-container #project-detailss .projects-desc {
              font-size: 1.5em; }
          body #large-display #parallax-layer #projects #project-container #project-select {
            height: 50%;
            position: absolute;
            top: 10%; }
            body #large-display #parallax-layer #projects #project-container #project-select #project-select-container {
              height: 100%; }
              body #large-display #parallax-layer #projects #project-container #project-select #project-select-container .project-display {
                height: 100%; }
        body #large-display #parallax-layer #projects #parallax2 {
          height: 35%;
          padding: 0; }
          body #large-display #parallax-layer #projects #parallax2 #iron-wall {
            height: 100%;
            padding: 0;
            position: absolute;
            z-index: 5; }
          body #large-display #parallax-layer #projects #parallax2 #iron-para {
            height: 100%; }
            body #large-display #parallax-layer #projects #parallax2 #iron-para .iron-body {
              height: 100%;
              position: fixed;
              transform: translateZ(-3px) translateY(100px) translateX(1000px) scale(2);
              z-index: 2;
              top: 366%;
              bottom: 0;
              left: 63%; }
        body #large-display #parallax-layer #projects #project-div-title {
          height: 15%;
          background: #252529;
          z-index: 5; }
          body #large-display #parallax-layer #projects #project-div-title #brand-text {
            font-size: 15em;
            font-family: Blockletter;
            position: relative;
            top: 15%;
            float: right;
            color: #81818A; }
