@font-face {
  font-family:Blockletter;
  src:url('Blockletter.otf');
}

/* Colors */

$lightWhite: #D6D6D6;
$darkWhite: #81818A;
$darkBlack: #252529;
$lightBlack: #6F6F6F;



/* Style switches */
.highlight {
		background:$darkBlack;
				color:$darkWhite;
}

body{

	background:$darkBlack;
	padding:0;
	#large-display{
	perspective:1px;
	overflow-x:hidden;
	overflow-y:auto;
	transform-style:preserve-3d;
	height:100vh;
	padding:0;
		#parallax-base {
			height:100%;
			padding:0;
			z-index:5;
			#home {
				height:100%;
				padding:0;
				z-index:4;
				#bg-container {
					height:70%;
					padding:0;
					#houston-base{
						height:100%;
						position:absolute;
						top:0;
						z-index:2;
					}
					#houston-valk {
						height:100%;
						position:fixed;
						top:0;
						transform:translateY(908px) translateX(-852px)translateZ(-1px) scale(2);
					}
				}
				#main-logo{
					font-size:15em;
					font-family:Blockletter;
					color:$darkWhite;
					float:right;
					
					height:30%;
					background:$darkBlack;
				}
			}
			#about {
				height:100vh;
				position:relative;
				z-index:4;
				padding:0;
				color:$darkWhite;

				#about-box {
					float:right;
					background:$darkBlack;
					
					height:100%;
					padding:0;


					#about-text-container{
						
						height:60%;
						padding:0;
						margin-bottom:4%;
						#about-text {
							border-left:7px solid $darkWhite;
							border-bottom:3px solid $darkWhite;
							margin-bottom:2%;
							color:$darkWhite;
							font-family:Blockletter;
							background:$darkBlack;
							font-size:1.5em;
							padding:0;
							height:47%;

							.contact-links {
								
								height:71%;
								padding:1%;
								font-size:0.7em;
								color:$darkWhite;
								position:relative;
								top:17%;

								&:hover{
									background:$darkWhite;
									color:$darkBlack;
								}
								.contact-image{
									height:88%;
								}
								.contact-text {
									word-wrap:break-word;
									border-bottom:3px solid $darkWhite;
								}
							}
							#about-picture{
								height:100%;
								float:right;
							}
						}
						#skill-container {
							border-left:7px solid $darkWhite;
							
							float:right;
							height:53%;
							font-family:Blockletter;
							background:$darkBlack;
							#skill-title{
								font-size:1.5em;
							}

							.skill {
								

								height:27%;

								.skillnames {
									border-bottom:1px solid $darkWhite;
									font-size:1.2em;
								}
								.skilllvl{
									height:50%;
									
									padding:0;

									.lvlblk {
										height:100%;
										padding:4%;
										width:1%;
										margin-left:1%;
										.col-md-1{
											width:5%;

										}
										.col-lg-1{
											width:5%;
										}
										.lvlblack {
										background:$lightBlack;
										
										height:80%;
										}
									}


								}
							}

						}

					}

						#exp-container{
							border-left:7px solid $darkWhite;
							border-top:3px solid $darkWhite;
							height:39%;

							.exp-div {
								
								height:100%;
								font-family:Blockletter;
								
								.exp-name {
									border-bottom:4px solid $darkWhite;
									font-size:2em;
								}
								.exp-date {
									font-size:1.3em;
								}
								.exp-position{
									font-size:1.5em;
								}
								.exp-resp {
									font-size:1.2em;
								}
							}
						}
				}
				
			}
		}


		/* Para2 starts here */

		#parallax-layer {
			height:200vh;
			position:fixed;
			top:203%;
			
			padding:0;
			z-index:9;
			persepective:1px;
			#projects{
				height:100%;
				padding:0;
				#image-container{
					height:30%;
					padding:0;
					
				}
				#project-container{
						height:18%;
						padding:0;
						color:$darkWhite;
					

						#project-detailss {
							    border-left: 4px solid $darkWhite;
    							float: right;
							    z-index: 10;
    							background: $darkBlack;
    							top:-118%;
    							font-family:Blockletter;

    							#project-name {
    								font-size:1.8em;

    									.projects-name{
    										border-bottom:3px solid $darkWhite;
    									}
    									.projects-framework{
    										background:$darkWhite;
    										color:$darkBlack;
    									}
    									.projects-link {
    										color:$darkWhite;
    										&:hover{
    											background:$darkWhite;
    											color:$darkBlack;
    										}
    									}
    							}
    							.projects-desc{
    								font-size:1.5em;
    							}


						}
						#project-select{
							
							height:50%;
							position:absolute;
								top:10%;
							#project-select-container{
								height:100%;

								 .project-display {
								height:100%;
								}
							}
						}
					}
				#parallax2 {
					height:35%;
					padding:0;

					#iron-wall{
						height:100%;
						padding:0;
						position:absolute;
						z-index:5;
												}
					#iron-para{
						height:100%;

						.iron-body{
							height:100%;
							position:fixed;
							transform:translateZ(-3px) translateY(100px) translateX(1000px) scale(2);
							z-index:2;
							top:366%;
							bottom:0;
							
							left:63%;
						}
					}
				}
				#project-div-title{
					height:15%;
					background:$darkBlack;
					z-index:5;
					#brand-text {
						font-size:15em;
						font-family:Blockletter;
						position:relative;
						top:15%;
						float:right;
						color:$darkWhite;

					}
				}
			}

		}


	}
}
